.jobby-app-container {
  background-color: #000000;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #272727;
  padding: 65px;
  border-radius: 15px;
}

.website-logo {
  width: 150px;
  margin-bottom: 25px;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 34px;
}

.input-conatiner {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  margin: 10px;
}
.password-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  margin: 10px;
}

.login-button {
  background-color: #4f46e5;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 500;
  border: none;
  color: #ffffff;
  margin-top: 10px;
}

.label {
  color: #ffffff;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: 400;
  margin-bottom: 8px;
}

.user-input {
  background-color: transparent;
  border: 1px solid #6366f1;
  width: 350px;
  border-radius: 5px;
  padding: 12px;
  outline: none;
  font-size: 16px;
  color: #ffffff;
}

.error-msg {
  align-self: start;
  font-size: 16px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: 'Roboto';
  line-height: 16px;
  color: #ff0b37;
}

.title {
  color: #ffffff;
}
.user-container {
  margin-left: 12px;
}
