.job-item-list {
  background-color: #202020;
  border-radius: 15px;
  padding: 25px;
  margin: 15px;
  width: 800px;
  margin-right: 60px;
  display: flex;
  flex-direction: column;
}

.company-main-containe {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.company-logo {
  width: 70px;
  margin-right: 15px;
}

.company-title {
  font-size: 26px;
  font-family: Roboto;
  font-weight: 800;
  color: #ffffff;
}

.star-icon-container {
  display: flex;
  align-items: center;
}

.star-icon {
  font-size: 25px;
  color: #fbbf24;
  margin-top: 6px;
}

.rating-count {
  color: #ffffff;
  font-size: 18px;
  font-family: 'Roboto';
  font-weight: 500;
  margin-top: 10px;
  margin-left: 10px;
}
.location-container-flex-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.description {
  color: #ffffff;
  font-size: 16px;
  font-family: 'Roboto';
  margin-left: 8px;
}

.star-icon-container {
  margin-left: 10px;
}

.location-icon {
  color: #ffffff;
  font-size: 30px;
}
.location-des {
  display: flex;
}
.left-icon {
  margin-left: 35px;
}

.line {
  border: 1px solid #7e858e;
  width: 100%;
}

.text-heading {
  color: #ffffff;
  font-size: 26px;
  font-family: 'Roboto';
  font-weight: 800;
  margin-top: 15px;
  margin-bottom: 10px;
}

.job-description {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.8;
}

.link {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}
